/* *{
  border:1px solid red;
} */
body{
  margin:0;
  background-color:#636267;
}
section{
  float:left;
  color:#dde0f7;
  top:5em;
  left:5em;
  margin-top:3em;
  margin-left:12em;
  padding:6.2em;
  border:4px solid #dde0f7;
  border-radius:3%;
  width:48%;
  background-color:#374faf;
  transition: all 3s ease;
}
section:hover{
  border-radius:100%;
}
#imageBottom{
  position:relative;
  width:200px;
  height:200px;
  float:left;
  margin-left:3em;
  transition: all 3s ease;
  border-radius:100%; background-image:url("http://www.fillmurray.com/200/200");
}
#imageBottom:hover{
  transform:rotate(360deg);
  opacity:1;
}
#imageTop{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transition: all 3s ease;
  border-radius:100%; background-image:url("http://www.fillmurray.com/250/250");
}
#imageTop:hover{
  opacity:0;
  transform:rotate(360deg);
}
h1{
  margin:0.5em 0em 0em 0.4em;
  float:left;
  font-size:4em;
}
h1:hover{
  -webkit-animation-duration:3s;
  -webkit-animation-name:vanish;
  -webkit-animation-timing-function:linear;
  opacity:0;
}
@-webkit-keyframes vanish{
  0%{
    opacity:0.8;
  }
  25%{
    opacity:0.6;
  }
  50%{
    opacity:0.4;
  }
  75%{
    opacity:0.2;
  }
  100%{
    opacity:0;
  }
}
h1 a, #ul2>li{
  color:#f7c40e;
}
#ul1{
  display:block;
  float:left;
  margin:0;
  padding-left:1.8em;
}
li{
  line-height:1.2em;
}
#ul2{
  float:left;
  list-style-type:none;
  font-size:1.3em;
}
#ul1 li, #ul2 li{
  margin-bottom:0.3em;
}
ul ul{
  font-size:initial;
}
#ul2>ul, section>ul{
  list-style-type:none;
}
ul ul ul li{
  margin:0.3em;
}
a{
  text-decoration:none;
  color:#dde0f7;
  transition:all 0.2s ease-in;
}
li>a:hover{
  -webkit-animation-duration: 0.7s;
  -webkit-animation-name: colorPop;
  -webkit-animation-timing-function: ease;
  color:red;
  font-weight:bold;
  padding-left:0.5em;
  text-decoration:underline;
}
@-webkit-keyframes colorPop{
  0%{
    color:green;
  }
  25%{
    color:blue;
  }
  50%{
    color:turquoise;
  }
  75%{
    color:purple;
  }
  100%{
    font-weight:bold;
    padding-left:0.5em;
    text-decoration:underline;
  }
}
#li1:hover{
  -webkit-animation-duration: 2s;
  -webkit-animation-name:sizePop;
  -webkit-animation-timing-function:linear;
}
@-webkit-keyframes sizePop{
  0%{
    font-size:2em;
  }
  20%{
    font-size:1em;
  }
  40%{
    font-size:0.5em;
  }
  60%{
    font-size:1em;
  }
  80%{
    font-size:2em;
  }
  100%{
    font-size:1em;
  }
}
